@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;500;700&display=swap");

/* -------------------- // Global Variables // ------------------------------ */
:root {
  /*   --color-primary1: hsla(258, 36%, 52%, 0.795);
  --color-primary2: hsla(252, 37%, 72%, 0.315);
  --color-secondary1: hsl(35, 100%, 95%);
  --color-secondary2: hsl(29, 78%, 78%); */
  --color-accent1: hsl(181, 98%, 52%);
  --color-accent2: hsl(301, 100%, 50%);
  --color-accent3: hsl(151, 95%, 50%);
  --color-accent4: hsl(68, 87%, 51%);
  --color-accent5: hsl(42, 98%, 50%);
  --color-accent6: hsl(295, 99%, 28%);
  --color-accent7: hsl(17, 100%, 56%);
  --color-neutral1: hsl(0, 0%, 3%);
  --color-neutral2: rgb(255, 255, 255);
  /* ---- //Fonts Variables (Custom Properties// -----*/
  --font-headings: "Roboto Mono", monospace;
}

/* --------------------- // Reset // -------------------------------- */

* {
  box-sizing: border-box;
  border: dotted 1px hotpink;
}

html,
body,
p,
a,
ul,
li {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}
body {
  background-color: hsl(0, 0%, 9%);
}

/* ------------------ // Base Styles // ----------------------------- */
/* ---- // Fonts // ---------- */
h4,
h5,
h6 {
  font-family: var(--font-headings);
}
h1 {
  font: 200 6rem/1 var(--font-headings);
}
h2 {
  font: 400 1.6rem/1 var(--font-headings);
  color: var(--color-accent1);
}
h3 {
  font: 300 1.5rem/1 var(--font-headings);
}

/* ----------- // Colors // -------------- */
.accent1 {
  color: var(--color-accent1);
}

.accent2 {
  color: var(--color-accent2);
}
.accent3 {
  color: var(--color-accent3);
}

.accent4 {
  color: var(--color-accent4);
}
.accent5 {
  color: var(--color-accent5);
}
.accent6 {
  color: var(--color-accent6);
}
.accent7 {
  color: var(--color-accent7);
}
.neutral2 {
  color: var(--color-neutral2);
}

.border0 {
  border: none;
}

.border1 {
  border: 1px solid var(--color-accent1);
}
.border2 {
  border: 1px solid var(--color-accent2);
}

/* -------------------- // section´s style// -----------------------  */
.container {
  padding: 0 1.5rem;
  flex: 1 1 200px;
}

.header,
.bandPageHero {
  background: hsla(0, 0%, 0%, 0.525) url(../public/media/place_holder.png) no-repeat top;
  /* This images is a place holder */
  background-size: cover;
  background-blend-mode: multiply;
  text-align: center;
  margin-bottom: 1rem;
}

.main {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------- // Main Sections & Elements style // ---------------------- */

/* ------- // Hero Section // ----------- */

.title {
  margin: 0;
  font-weight: 300;
  opacity: 0.3;
  letter-spacing: 0.4%;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.logo {
  margin: 1rem 8rem;
}

.title,
.logo {
  text-align: center;
}

/* ------- // Filtering & Searching  Section // ----------- */

.flex-container {
  gap: 2rem;
}

.input {
  text-align: center;
  padding: 1rem 1.5rem;
  background-color: transparent;
}

.iconContainer {
  position: relative;
  gap: 2rem;
  margin: 1rem;
}

.icon {
  position: absolute;
  top: 34%;
  left: 6%;
}

/* ------- // Shows  Section // ----------- */
/* ------- // Days // --------- */

.button {
  background-color: transparent;
  padding: 1rem;
}

.button:focus {
  border: 1px solid var(--color-accent1);
}

.grid {
  gap: 0.8rem;
  width: 80%;
  margin: 2rem auto;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid,
.card,
.flex-container,
.container,
.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid,
.card,
.flex-container {
  flex-wrap: wrap;
  max-width: 90%;
}

/* ------- // Shows // --------- */

.show-table {
  max-width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  border-bottom: solid 3px var(--color-accent2);
}

.show-table ul {
  padding-left: 0.5rem;
}

.show-table li {
  font-size: small;
}

/* --------------- // Stages & Acomodation // ---------------------- */

p {
  font: small var(--font-headings);
  margin: 1rem auto;
}

.card {
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 8rem;
}

.stages p:first-child {
  margin-bottom: 0;
}

.acomodation {
  border: 1px solid var(--color-accent3);
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

/* a {
  color: inherit;
} */

/* ------------ // Bands Cards // -------------- */
.carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.bands-wraper {
  /* width: 100%; */
  margin: 2rem auto;
  transition: transform 0.3s;
}
.bandbutton {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 20;
  top: 40%;
}
.next {
  right: 0%;
}
.bands-card {
  width: 90%;
  margin: auto;
  gap: 2rem;
  display: flex;
  /* overflow: hidden; */
  z-index: 0;
}
/* .single-card {
  height: 25rem;
} */
.bandsInfo {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  margin-top: 0%;
  gap: 0.5rem;
  padding: 0.5rem;
  max-width: 15rem;
  height: 10rem;
}

.bandsInfo div:last-child {
  align-self: center;
}
.bandsInfo p {
  margin: 0.5rem;
}
.bandlink {
  font-size: 0.5rem;
  padding: 0.5rem;
}

.bandsInfo button {
  font-size: 0.5rem;
}

/* ------------ // Lineup // -------------- */
.bands li {
  font-size: small;
  color: var(--color-accent1);
}

/* ------------ // Tickets // -------------- */

.tickets-info,
.container {
  flex-direction: column;
}

.tickets-info button {
  margin-top: 2rem;
}

.tickets-info li {
  list-style: disc;
}
.tickets-info li,
.container li {
  font-size: small;
}

.tickets-div {
  position: relative;
}

.regular,
.vip {
  text-align: center;
  width: 10rem;
  height: 5rem;
  color: var(--color-neutral1);
  padding: 2rem;
  margin: 0.5rem;
}
.regular {
  background-color: var(--color-accent3);
}
.vip {
  background-color: var(--color-accent5);
}

/* --------------- // Footer // ----------------------- */
.footer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--color-accent2);
  margin: 5rem auto;
  padding-top: 2rem;
  justify-content: space-around;
  align-items: baseline;
  width: 90%;
  gap: 2rem;
}

.footer p {
  padding-left: 1.5rem;
}
.footer form {
  max-width: 100%;
}

.input-footer,
.button-footer {
  padding: 0.8rem 1rem;
  width: 100%;
  background-color: transparent;
  text-align: center;
}

/* --------------- // Bands Pages // ----------------------- */
.bandPageHero {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.bandPageTitle {
  font: 200 2rem/1 var(--font-headings);
}

.bandPageHero p {
  font-size: 0.5rem;
}
.bandPageHero li {
  font-size: 0.6rem;
}

.bandBio {
  padding: 1rem;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  h1 {
    font: 100 10rem/1.15 var(--font-headings);
  }

  h2 {
    font: 400 2rem/1 var(--font-headings);
  }

  h3 {
    font: 300 2rem/1 var(--font-headings);
  }

  .headerDays {
    max-width: 50%;
  }
  .show-table {
    max-width: 80%;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  .show-table li {
    font-size: medium;
  }

  .bands li,
  .tickets-info p,
  .tickets-info li {
    font-size: medium;
  }

  .flex-container {
    gap: 4rem;
  }

  .regular,
  .vip {
    width: 15rem;
    height: 5rem;
  }

  .tickets-info {
    max-width: 50%;
  }

  .footer {
    padding-top: 1rem;
  }

  .footer div:first-child {
    align-items: flex-start;
  }
  .footer p {
    padding-left: 0%;
  }

  .bandpage {
    display: flex;
    flex-direction: row-reverse;
  }

  .bandpage div:last-child {
    max-width: 30%;
  }
  /*  .showDate {
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: var(--color-neutral1);
    max-width: 25vw;
    height: 60vw;
  } */
}
/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
  .show-table {
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .card {
    width: 12rem;
  }

  .footer .container {
    align-items: baseline;
  }
}

/* destop styles */
@media screen and (min-width: 1200px) {
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
